body {
	display:flex;
	flex-direction: column;
	align-items: center;
	
}

#companybanner{
	margin: 2em;
	width:20em;
}

#loginForm{
	display:flex;
	flex-direction: column;
	align-items:center;
	border:0.1em solid #ABABAB;
	margin: 2em 0em 0.7em 0em;
	width:30em;
}

#loginForm > *{
	margin:1em;
}
.fieldContainer{
	display:flex;
	flex-direction:column;
	align-items:flex-end;

}

#loginForm .checkbox{
	position:relative;
	left:1.1em;
	align-self: center;
}


.checkbox input[type="checkbox"]{
	opacity:0;
}

.checkbox label::before{
	content:"";
	display:inline-block;
	height: 1em;
	width: 1em;
	background: rgb(242,170,58);
	background: linear-gradient(180deg, rgba(242,170,58,1) 0%, rgba(248,152,42,1) 100%); 
	border-radius: 0.27em;
}

.checkbox label::after{
	content:"";
	display:inline-block;
	height:0.2em;
	width:0.6em;
	border-left: 0.15em solid white;
	border-bottom:0.15em solid white;
	transform: rotate(-45deg);
}

.checkbox label{
	position:relative;
	font-size: 11pt;
}

.checkbox label::before,
.checkbox label::after {
	position:absolute;
}

.checkbox label::before{
	top: 0.1em;
	left: -1.3em;
}

.checkbox label::after{
	left: -1.18em;
	top: 0.36em;
}


.checkbox input[type="checkbox"] + label::after{
	content:none;
}

.checkbox input[type="checkbox"]:checked + label::after{
	content:"";
}

.errorText {
	color:red;
}

.error{
	display:none;
}

a{
	font-size:10pt;
	position:relative;
	left:-2em;
}


.fieldContainer > div{
	margin:0.3em;
}
.registerButtonField{
	display:flex;
	flex-direction: column;
	align-items: center;
	border:0.1em solid #ABABAB;
	width:30em;
	padding:0.3em 0;
}
.registerButtonField > *{
	margin: 0.5em;
}